h1 {
    width: auto;
    font-size: 4.5vw;
    font-weight: 100;
}

.span-box {
    background-color: var(--color-green);
    color: var(--color-black);
    filter: var(--filter-neon);
    font-weight: 100;
    color: var(--color-black);
}

#span-margin {
    padding-left: 10vw;
}

.blinking-cursor {
    opacity: 1;
    transition: opacity 0.4s;
    font-weight: 900;
}